<!-- <%# navigation styled for Bootstrap 4.0 %>
<div class="container">
  <nav class="navbar navbar-dark bg-inverse">
    <ul class="nav navbar-nav clearfix">
      <li class="nav-item">
        <button class="navbar-toggler hidden-sm-up nav-link" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
          &#9776;
        </button>
      </li>
    </ul>
    <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
      <%= link_to "Rails bootstrap", root_path, class: 'navbar-brand' %>
      <ul class="nav navbar-nav">
        <%= render 'layouts/navigation_links' %>
      </ul>
    </div>
  </nav>
</div> -->
<%# navigation styled for Bootstrap 4.0 %>
<nav class="navbar navbar-light bg-light">
    <div class="container">
        <%= link_to "Joshua Kent Meadows", root_path, class: 'navbar-brand' %>
        <ul class="nav navbar-nav">
            <%= render 'layouts/navigation_links' %> <!-- All your other links should go in the navigation_links layout file. -->
        </ul>
    </div>
</nav>